.create_new_link a{
    color: #fff;
}

.tab-images-list img{
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
}

.tab-images-list img{
    cursor:pointer;

}

.chosen_img{
    border-color: orangered!important;

}

.tt_custom_show_hide{
    display: none;
}
.custom_search_form_wrapper{
    text-align: center;
    width: 250 px;
}

.custom_search_form{
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ds_thuoc .4u:nth-child(3n){
    clear: left;
}

.custom_submit{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}